<h1 style="text-align:center;width:100%;background-color:#242424;padding-left:10px;margin-bottom:0px; color:skyblue"><font size = 5 color=skyblue>Segmenting and Clustering Neighborhoods in <br /> Torento</font></h1>
<h3 style="text-align:left;width:100%;background-color:#ddd;padding-left:10px;;margin-top:0px;"> <font size=1 color=#444>Developed by <font size=1 color=green>Reza Sadeghi Jafari </font>- March 2021 </font></h3>

# Introduction

This code developed in regard of Coursera assignment on course "Applied Data Science Capstone". It's required to explore, segment, and cluster the neighborhoods in the city of Toronto based on the postalcode and borough information. The neighborhood data for torento is not readily available on the internet.

"For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

Start by creating a new Notebook for this assignment.
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe like the one shown below:

3. To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11  in the above table.
If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
4. Submit a link to your Notebook on your Github repository.(10 marks)

Note: There are different website scraping libraries and packages in Python. For scraping the above table, you can simply use pandas  to read the table into a pandas dataframe.

Another way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe."

In [3]:
import pandas as pd
import numpy as np

In [7]:
# I prefer to use pandas to fetch data from grid in HTML file, it's so fast and easy.
# I change the url to read from history, it seems changed during this month
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1012118802'
dfs = pd.read_html(url)
df=dfs[0]   # it's retrive the first dataframe from all data frames which red by the "read_html" methode.

In [8]:
df  # load Dataframe for review

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [10]:
df.describe() # I describe the dataframe to find some information about Dataframe

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            12           100
top            M6L  Not assigned  Not assigned
freq             1            77            77

In [11]:
df.info() # also .info would be helpful to review the null values, datatype, ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal Code      180 non-null object
Borough          180 non-null object
Neighbourhood    180 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

<h3>start cleansing the data</h3>
<hr />
<span style='color:skyblue'>as requested by assumpsion we should remove the 'Not assigned' Borough from our records,</span>

In [12]:

Clean_df =df[df['Borough']!='Not assigned']
Clean_df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

<div style='color:skyblue'> To concatinate Neighbourhood values on same Borough values First i group by the dataframe by Borough then i used transform methode and lambda function on Neighbourhood values.</div>
<hr >
<b style='color:red'>There is no Same recorde on wikipedia page, it's updated and i think this requirement doesn't work on this dataframe which supplied at this page, currently.</b>
<hr />

In [13]:
Clean_df['Neighbourhood']= Clean_df.groupby(['Borough'])['Neighbourhood'].transform(lambda x: ','.join(x))
Clean_df =Clean_df.drop_duplicates() # remove duplicate if exist
Clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
Postal Code      103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB
ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<div style='color:skyblue'>As request, we should replace the 'Not assigned' values on Neighbourhood columns with Borough value </div>

In [14]:
Clean_df['Neighbourhood'].replace('Not assigned',Clean_df['Borough'],inplace=True)
Clean_df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,"Parkwoods,Victoria Village,Lawrence Manor, Law..."
3,M4A,North York,"Parkwoods,Victoria Village,Lawrence Manor, Law..."
4,M5A,Downtown Toronto,"Regent Park, Harbourfront,Queen's Park, Ontari..."
5,M6A,North York,"Parkwoods,Victoria Village,Lawrence Manor, Law..."
6,M7A,Downtown Toronto,"Regent Park, Harbourfront,Queen's Park, Ontari..."
...,...,...,...
160,M8X,Etobicoke,"Islington Avenue, Humber Valley Village,West D..."
165,M4Y,Downtown Toronto,"Regent Park, Harbourfront,Queen's Park, Ontari..."
168,M7Y,East Toronto,"The Beaches,The Danforth West, Riverdale,India..."
169,M8Y,Etobicoke,"Islington Avenue, Humber Valley Village,West D..."
178,M8Z,Etobicoke,"Islington Avenue, Humber Valley Village,West D..."

<div style='color:green'><h4> The result of cleansing </h4></div>

In [15]:
Clean_df.shape

(103, 3)

In [16]:
geodf = pd.read_csv('Geospatial_Coordinates.csv')

In [17]:
geodf

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [19]:
Clean_df.set_index('Postal Code').join(geodf.set_index('Postal Code'))

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,"Parkwoods,Victoria Village,Lawrence Manor, Law...",43.753259,-79.329656
M4A,North York,"Parkwoods,Victoria Village,Lawrence Manor, Law...",43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront,Queen's Park, Ontari...",43.654260,-79.360636
M6A,North York,"Parkwoods,Victoria Village,Lawrence Manor, Law...",43.718518,-79.464763
M7A,Downtown Toronto,"Regent Park, Harbourfront,Queen's Park, Ontari...",43.662301,-79.389494
...,...,...,...,...
M8X,Etobicoke,"Islington Avenue, Humber Valley Village,West D...",43.653654,-79.506944
M4Y,Downtown Toronto,"Regent Park, Harbourfront,Queen's Park, Ontari...",43.665860,-79.383160
M7Y,East Toronto,"The Beaches,The Danforth West, Riverdale,India...",43.662744,-79.321558
M8Y,Etobicoke,"Islington Avenue, Humber Valley Village,West D...",43.636258,-79.498509
M8Z,Etobicoke,"Islington Avenue, Humber Valley Village,West D...",43.628841,-79.520999